* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.4rem;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  background-color: hsl(208, 100%, 71%);
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 0px 0px 8px white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

#userInput {
  outline: none;
}

